<app-cursor [mousePosition]="mousePosition" text="open" ></app-cursor>

<section class="portfolio" >

  <app-portfolio-item-img
  [title]="'Dummy Tittle1'"
  bcImgSrc="/assets/imgs/landing/portfolio/1.jpg"
  ></app-portfolio-item-img>

  <app-portfolio-item-img
    [title]="'Dummy Tittle2'"
    bcImgSrc="/assets/imgs/landing/portfolio/2.jpg"
  ></app-portfolio-item-img>

  <app-portfolio-item-img
    [title]="'Dummy Tittle3'"
    bcImgSrc="/assets/imgs/landing/portfolio/3.jpg"
  ></app-portfolio-item-img>

  <app-portfolio-item-img
    [title]="'Dummy Tittle4'"
    bcImgSrc="/assets/imgs/landing/portfolio/4.jpg"
  ></app-portfolio-item-img>

</section>
